body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 2px 2px lightgray;
}

#navButton:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 2px 2px lightgray;
}

#lostAnimals, #foundAnimals {
  max-height: 35rem;
  min-height: 35rem;
  overflow-y: scroll;
}

#recentSightings {
  max-height: 475px;
  min-height: 475px;
  overflow-y: scroll;
}